footer{

    color: azure;
    background-color: black;

    position: absolute;
    display: block;
    align-items: center;

    right: 0;
    bottom: 0;
    left: 0;

    padding: 10px;

}