.header{

    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 2;
    width: 95vw;
    height: 6vh;
    


}

#headerL{

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50vw;

}

#headerR{

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 50vw;

}

.wrapper{
    
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    width: 95vw;
    height: 85vh;

    border: 8px;
    border-color: #540B0E;
    border-radius: 6px;

    background-color: #454966;

}

.topL{

    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50vw;

}

.topR{

    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 50vw;

}